@charset "UTF-8";
        body {
            background-color: #f8f9fa;
        }

        .find {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .find_box {
            background-color: white;
            padding: 187px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .contact form {
            max-width: 400px;
            margin: auto;
        }

        .formHeader {
            text-align: center;
            margin-bottom: 20px;
        }

        .inputForm input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .BtnGroup {
            display: flex;
            justify-content: space-between;
        }

        .submit {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .button {
            background-color: #dc3545;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-content {
            border-radius: 10px;
        }
        
