@charset "UTF-8";
    body {
            background-color: #f8f9fa;
        }

        .section {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 82vh;
        }

        .section_box {
            background-color: white;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
            width: 650px;
        }

        .contact {
            text-align: center;
        }

        .userForm {
            max-width: 100%;
            margin: auto;
        }

        h3 {
            color: #007bff;
        }

        .container {
            margin-top: 20px;
        }

        .row {
            margin-bottom: 15px;
        }

        label {
            font-weight: bold;
            color: #495057;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .valid {
            color: green;
        }

        .BtnGroup {
            display: flex;
            justify-content: space-between;
        }

        .submit,
        .button {
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
        }

        .submit {
            background-color: #007bff;
            color: white;
            border: none;
        }

        .button {
            background-color: #dc3545;
            color: white;
            border: none;
            text-decoration: none;
        }

        #errorModal .modal-title {
            color: #dc3545;
        }

        #errorModal .modal-body {
            color: #495057;
        }